<!DOCTYPE html>
<html>
<head>
  <title>IndexCard projects</title>
<!-- BOOSTRAP LINK FOR STYLING -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/style.css">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body >
  <h1>Study Center</h1>

<div id="firstAddBtn">
<img src="images/circleBtn1.png" onclick="addNewDeck(this)">
</div>

<!-- <form name="form1" action="javascript:work()">
<div class="subj" id="subj3">
<div class="card" style="width: 8rem;">
  <div class="card-body">
    <h5 class="card-title" id="subjT"></h5> 
    <input type="text" name="textInfo" id="subjName" size="9" placeholder="Subject ">
  </div>
</div>
</div>
</form> -->

<section id="subjSec"> 
  <% userInfo.classes.forEach(function(inputData, index){ %>
    <div class="card move" style="width: 8rem;">
      <div class="card-body">
       <a href="/profile/<%= index %>"><h5 class="card-title"><%= inputData.className %></h5></a>
      </div>
    </div>
    <% }); %>
  </section>


<!--   <form id="subjSec" name="form1" action="javascript:work()">  
  <% userInfo.classes.forEach(function(inputData, index){ %>
  <div class="subj" id="subj3">
    <div class="card move" style="width: 8rem;">
      <div class="card-body">
       <a href="/profile/<%= index %>"><h5 class="card-title" id="subjT"><%= inputData.className %><%= index %></h5></a>
       <input type="text" name="textInfo" id="subjName" size="9" placeholder="Subject ">
     </div>
      </div>
    </div>
    <% }); %>
  </form>
 -->
<br>
<hr>

<% if (userInfo.classes.length > 0) { %>
  <% userInfo.classes[currentsubject].decks.forEach(function(inputData, index){ %>
    <div class="card move border-success mb-3" style="max-width: 18rem;">
      <a href="/decks/<%= index %>"><div class="card-header bg-transparent border-success"><%= inputData.deckName %> </div></a>
      <div class="card-body text-success">
        <!-- <h5 class="card-title">Success card title</h5> -->
        <p class="card-text"><%= inputData.deckdescription %></p>
      </div>
      <div class="card-footer bg-transparent border-success">Resources</div>
    </div>
  <% }); %>
<% } %>

<section id="cardSec"></section>
<br>

<div id="secondAddBtn">
<img src="images/circleBtn1.png" onclick="addNewCard()">
</div>


<!-- <div class="grid-container">
  <div class="grid-item">index photo</div>
  <div class="grid-item">index photo</div>
  <div class="grid-item">index photo</div>  
  <div class="grid-item">index photo</div>
  <div class="grid-item">index photo</div>
  <div class="grid-item">index photo</div>  
 <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">9</div> -->  
</div> -->

<script type="text/javascript" src="/app2.js"></script>
</body>
</html>

